body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color:rgb(46,105,163);
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color:#ffffff
  }


p {
  font-size: 2rem;

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
  font-size: 1.25em;
}

nav {
  background-color: DeepSkyBlue;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

.contact-btn {
float:right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

#footer {
  font-size: 0.75rem;
}
