body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background: #00ffff no-repeat fixed center;
}

h1 {
	font-size: 50px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color:rgb(46,105,163);
}

h2 {
	font-size: 35px;
}

nav {
	background-colour: Chocolate;
	display: inline;
}

p {
  	font-size: 2rem;
}

#footer {
  	font-size: 0.75rem;
}
