body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color:rgb(46,105,163);
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color:#ffffff
  }


p {
  font-size: 2rem;

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
  font-size: 1.25em;
}
{
	<ul>
    <li><a href="WebDesign.html">Web Design</a></li>
    <li><a href="index.html">Homepage</a></li>
    <li><a href="Datavis.html">Data Visualisation</a></li>
    <li><a href="UXUI.html">UX/UI</a></li>
    <div class="contact-btn"><a>Contact</a>
      </div>
  </ul>
</nav>

}
#footer {
  font-size: 0.75rem;
}
